[Unit]
Description=Start the Pi Timelapse script.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/pi-timelapse/daemon_runner.py
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
